<!DOCTYPE html>
<html>

<head>
    <title>Upright</title>
    <link rel="stylesheet" href="../styles/starter.css">
    <link rel="stylesheet" href="../styles/baseline.css">
</head>

<body>
    <div class="Baseline app">
        <h1 class="Baseline-title">Let's Start!</h1>
        <h2 class="Baseline-subtitle">Capturing baselines will assist our ML models to better detect when you're
            slouching. Start by <b>sitting upright</b>, and click "Done" to capture a baseline.</h2>
        <video class="Baseline-camera" id="camera" autoplay> </video>
        <button class="cta Baseline-cta" id="done">Done</button>
    </div>
    <script src="../scripts/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
    <script type="module" src="../scripts/baseline.js"></script>
</body>

</html>