<!DOCTYPE html>
<html>

<head>
  <title>Upright</title>
  <link rel="stylesheet" href="../styles/starter.css">
  <link rel="stylesheet" href="../styles/helper.css">
</head>

<body>
  <div class="Helper app">
    <h1 class="Helper-title">Upright</h1>
    <h2 class="Helper-subtitle">ML-powered posture detection</h2>
    <p class="Helper-desc">
      Upright uses your laptop's camera to analyze and help you improve your posture. Now that you have registered
      and calibrated the system, simply keep Upright open in the background and continue working. Upright will
      notify you if you begin to slouch so you can correct it. Don't forget to download the Upright iOS app to
      view your daily metrics. You can now close this window, and Upright will continue to help you improve your
      posture!
    </p>
    <button class="inline-button Helper-help">Help</button>
  </div>
  <!-- <script src="../scripts/helper.js"></script> -->
</body>

</html>