<!DOCTYPE html>
<html>

<head>
    <title>Upright Camera</title>
    <link rel="stylesheet" href="../styles/starter.css">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../scripts/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/
		@tensorflow-models/posenet">
    </script>
    <script type="module" src="../scripts/camera.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="title">Upright</h1>
        <video class="camera" id="camera" autoplay> </video>
        <button class="help-btn" id="help-btn">
            <img src="../assets/icons/bxs-help-circle.svg" />
        </button>
    </div>
</body>

</html>