<!DOCTYPE html>
<html>

<head>
    <title>Upright Camera</title>
    <link rel="stylesheet" href="../styles/starter.css">
    <link rel="stylesheet" href="../styles/index.css">
	<!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyDOiCmoUqaqOJYddH8JiDxxHR8QnjZAURc",
      authDomain: "upright-th21.firebaseapp.com",
      projectId: "upright-th21",
      storageBucket: "upright-th21.appspot.com",
      messagingSenderId: "52564962928",
      appId: "1:52564962928:web:1724b0fa750a7f04cfceb5",
      measurementId: "G-EMF7VN18XJ"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
    <script src="../scripts/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/
		@tensorflow-models/posenet">
    </script>
    <script type="module" src="../scripts/camera.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="title">Upright</h1>
        <video class="camera" id="camera" autoplay> </video>
        <button class="help-btn" id="help-btn">
            <img src="../assets/icons/bx-slider.svg" />
        </button>
        <h2 id="display">Evaluating...</h2>
    </div>
</body>

</html>
