<!DOCTYPE html>
<html>

<head>
  <title>Upright</title>
  <link rel="stylesheet" href="../styles/starter.css">
  <link rel="stylesheet" href="../styles/landing.css">
</head>

<body>
  <div class="Landing app">
    <h1 class="Landing-title">Upright</h1>
    <h2 class="Landing-subtitle">ML-powered posture detection</h2>
    <div class="Landing-carousel">
      <button class="Landing-leftArrow Landing-arrow" id="left-arrow"><img src="../assets/icons/bxs-left-arrow.svg" /></button>
      <div class="Landing-carouselItem" id="item-1">
        <img class="Landing-carouselImg" src="../assets/landing/landing-1.svg" />
        <p class="Landing-carouselCaption">Improve your posture and physical health while working on your computer.</p>
      </div>

      <div class="Landing-carouselItem">
        <img class="Landing-carouselImg" src="../assets/landing/landing-2.svg" />
        <p class="Landing-carouselCaption">Get notified if you need to correct your posture through our ML technology.
        </p>
      </div>

      <div class="Landing-carouselItem">
        <img class="Landing-carouselImg" src="../assets/landing/landing-3.svg" />
        <p class="Landing-carouselCaption">View your posture metrics and share them with your doctor within our iOS app.
        </p>
      </div>
      <button class="Landing-rightArrow Landing-arrow" id="right-arrow"><img src="../assets/icons/bxs-right-arrow.svg" /></button>
    </div>
    <div class="Landing-carouselIndicators">
      <button class="Landing-indicator Landing-indicatorActive" id="indicator-1"></button>
      <button class="Landing-indicator" id="indicator-2"></button>
      <button class="Landing-indicator" id="indicator-3"></button>
    </div>
    <button class="cta Landing-cta" id="landing-next">Get Started</button>
    <button class="inline-button Landing-privacyLink">Privacy Policy</button>
  </div>
  <script src="../scripts/landing.js"></script>
</body>

</html>